In [3]:
import numpy as np 
import pandas as pd

In [5]:
df = pd.read_csv('https://gist.githubusercontent.com/DiogoRibeiro7/c6590d0cf119e87c39e31c21a9c0f3a8/raw/4a8e3da267a0c1f0d650901d8295a5153bde8b21/PlayTennis.csv')

In [9]:
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [13]:
# Creating a Contigency table
pd.crosstab(df['Outlook'], df['Play Tennis'])

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [15]:
#  J0int probability
pd.crosstab(df['Outlook'], df['Play Tennis'], normalize='all')

Play Tennis        No       Yes
Outlook
Overcast     0.000000  0.285714
Rain         0.142857  0.214286
Sunny        0.214286  0.142857

In [17]:
# Marginal Probability 
pd.crosstab(df['Outlook'], df['Play Tennis'], normalize='all', margins=True)

Play Tennis        No       Yes       All
Outlook
Overcast     0.000000  0.285714  0.285714
Rain         0.142857  0.214286  0.357143
Sunny        0.214286  0.142857  0.357143
All          0.357143  0.642857  1.000000

In [24]:
# Conditional Probaility
pd.crosstab(df['Outlook'], df['Play Tennis'], normalize='columns').stack().to_dict()

{('Overcast', 'No'): 0.0,
 ('Overcast', 'Yes'): 0.4444444444444444,
 ('Rain', 'No'): 0.4,
 ('Rain', 'Yes'): 0.3333333333333333,
 ('Sunny', 'No'): 0.6,
 ('Sunny', 'Yes'): 0.2222222222222222}

- .stack() is a pandas function used to reshape a DataFrame by converting columns into a stacked multi-indexed format.
- .to_dict() is a pandas method used to convert a DataFrame or Series into a Python dictionary.

In [44]:
D={}
for i in ['Outlook', 'Temperature', 'Humidity', 'Wind']:
    D.update(pd.crosstab(df[i], df['Play Tennis'], normalize='columns').stack().to_dict())

In [28]:
D

{('Overcast', 'No'): 0.0,
 ('Overcast', 'Yes'): 0.4444444444444444,
 ('Rain', 'No'): 0.4,
 ('Rain', 'Yes'): 0.3333333333333333,
 ('Sunny', 'No'): 0.6,
 ('Sunny', 'Yes'): 0.2222222222222222,
 ('Cool', 'No'): 0.2,
 ('Cool', 'Yes'): 0.3333333333333333,
 ('Hot', 'No'): 0.4,
 ('Hot', 'Yes'): 0.2222222222222222,
 ('Mild', 'No'): 0.4,
 ('Mild', 'Yes'): 0.4444444444444444,
 ('High', 'No'): 0.8,
 ('High', 'Yes'): 0.3333333333333333,
 ('Normal', 'No'): 0.2,
 ('Normal', 'Yes'): 0.6666666666666666,
 ('Strong', 'No'): 0.6,
 ('Strong', 'Yes'): 0.3333333333333333,
 ('Weak', 'No'): 0.4,
 ('Weak', 'Yes'): 0.6666666666666666}

In [34]:
df[i]

0       Weak
1     Strong
2       Weak
3       Weak
4       Weak
5     Strong
6     Strong
7       Weak
8       Weak
9       Weak
10    Strong
11    Strong
12      Weak
13    Strong
Name: Wind, dtype: object

In [46]:
df['Play Tennis']

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play Tennis, dtype: object